/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  background-color: #e0e0e0;
}

hr {
  border: 0.25px solid black;
}

.info {
  display: block;
  text-align: center;
  margin-top: 4px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Smartphones */
.nav {
  overflow: hidden;
  background-color: #ff8f00;
  margin-bottom: 8px;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.4);
}

.nav a {
  float: left;
  display: block;
  color: black  ;
  padding: 14px 16px;
  margin: 0;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: #fbc02d;
}

.active {
  color: white !important;
  border-left: 3px solid white;
  padding-left: 12px !important;
}

.nav a:not(:first-child) {
  display: none;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 8px;
}

#logo {
  color: white;
  margin-right: 64px;
  padding: 13px 10px 9px 12px;
  font-size: 21.5px;
}

#logo:hover {
  background-color: #ff8f00;
}

.nav a.icon {
  color: white;
  float: right;
  display: block;
}

.nav.responsive {
  position: relative;
}

.nav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}

.nav.responsive a {
  float: none;
  display: block;
  text-align: left;
}

footer {
  margin-top: 8px;
  background-color: #ff8f00;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 0;
  box-shadow: 8px 0 0 0 rgba(0,0,0,0.4);
}

footer ul{
  width: 100%;
  padding: 8px;
  line-height: normal;
}

footer p {
  width: 100%;
  font-size: 12px;
  color: white;
  text-decoration: none;
}

#content-container {
  width: 100%;
}

img {
  width: 50%;
}

.float-left {
  float: left;
}

dialog {  
  width: 500px;  
  background:#e8e8e8;
  border: 1px solid #dadada;
  font-family:sans-serif;
  padding: 5px 10px 20px 20px;
}  

/* Tablets */
@media (min-width: 768px) and (max-width: 1279px) {
  .nav {
    overflow: hidden;
  }

  .nav a:not(:first-child) {
    display: block !important;
  }

  .nav a {
    float: left;
  }

  .nav.responsive:not(:first-child) {
    display: block;
  }

  .nav.responsive .icon {
    display: none !impotant;
  }

  .nav.responsive a {
    float: left;
    display: block;
    text-align: left;
  }

  .nav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .nav a.icon {
    display: none !important;
  }

  #profil {
    float: right;
  }

  .margin-left-12-5 {
    margin-left: 12.5%;
  }

  .active {
    color: white !important;
    border-left: none;
    border-bottom: 3px solid white;
    padding-left: 15px !important;
    padding-bottom: 11px !important;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  .nav {
    overflow: hidden;
  }

  .nav a:not(:first-child) {
    display: block !important;
  }

  .nav a {
    float: left;
  }

  .nav.responsive:not(:first-child) {
    display: block;
  }

  .nav.responsive .icon {
    display: none !impotant;
  }

  .nav.responsive a {
    float: left;
    display: block;
    text-align: left;
  }

  .nav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .nav a.icon {
    display: none !important;
  }

  #profil {
    float: right;
  }

  .margin-left-12-5 {
    margin-left: 12.5%;
  }

  .active {
    color: white !important;
    border-left: none;
    border-bottom: 3px solid white;
    padding-left: 15px !important;
    padding-bottom: 11px !important;
  }
}