/* Smartphone */
#profile-container {
  width: 100%;
  margin: auto;
}

table.profile-table {
  table-layout: auto;
  width: 100%;
}

table.profile-table tr, td {
  padding: 10px;
  
  text-align: left;
}

table.profile-table tr:not(:last-child) {
  border-bottom: 1.5px;
  border-bottom-style: ridge;
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1279px) {
  #profile-container {
    max-width: 768px;
  }
}

/* Desktop */
@media (min-width: 1280px) {
  #profile-container {
    max-width: 768px;
  }
}