/* Smartphone */
.uebersicht-card {
  text-align: center;
  display: none;
  padding: 0 24px 0 0;
}

.show {
  display: block;
}

.uebersicht-card img {
  margin: 12px;
}

.uebersicht-card p {
  text-align: left;
  margin-left: 25%;
}

.uebersicht-card-header {
  padding:12px;
}

#aktuelles-semester ul {
  display: block;
}

#aktuelles-semester li {
  width: 100%;
}

.aktuelle-module {
  float: none;
}

.aktuelle-module li {
  display:inline-block;
  width: 100%;
}

.img-uebersicht {
  width: 100%;
  padding: 0;
  margin: 12px;
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1279px) {
  #uebersicht-list {
    display: inline-table;
  }

  #uebersicht-list li {
    float: left;
    width: 33.333%;
  }

  .uebersicht-card {
    text-align: center;
    display: block;
  }

  #aktuelles-semester {
    overflow-x: auto;
  }

  #aktuelles-semester ul {
    display: inline-block;
  }

  #aktuelles-semester li {
    float: left;
    width: 33.33%;
  }

  .aktuelle-module {
    width: 100% !important;
    float: left;
  }

  .aktuelle-module li {
    width: 100% !important;
    float: left;
  }

  .nohover {
    background-color: #f5f5f5;
  }

  .nohover:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    cursor: default;
  }
}

/* Desktop */
@media (min-width: 1280px) {  
  #uebersicht-list {
    display: inline-table;
  }

  #uebersicht-list li {
    float: left;
    width: 33.333%;
  }

  .uebersicht-card {
    text-align: center;
    display: block;
  }

  #aktuelles-semester {
    overflow-x: auto;
    white-space: nowrap;

  }

  #aktuelles-semester ul {
    display: inline-block;
  }

  #aktuelles-semester li {
    float: left;
    width: 33.33%;
  }

  .aktuelle-module {
    width: 100% !important;
    float: left;
  }

  .aktuelle-module li {
    width: 100% !important;
    float: left;
  }

  .nohover {
    background-color: #f5f5f5;
  }

  .nohover:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    cursor: default;
  }
}