/* Smartphone */
.uebersicht-card {
  text-align: center;
}

.uebersicht-card img {
  margin: 12px;;
}

.uebersicht-card h2 {
  font-size: 20px;
}

.uebersicht-card p {
  text-align: left;
}


/* Tablets */
@media (min-width: 768px) and (max-width: 1279px) {

}

/* Desktop */
@media (min-width: 1280px) {
  #uebersicht-list li {
    display: inline !important;
  }
}