/* Smartphone */
.uebersicht-card {
  text-align: center;
  display: none;
  padding: 0 12px 12px 12px;;
}

.show {
  display: block;
}

.uebersicht-card img {
  margin: 12px;
}

.uebersicht-card p {
  text-align: left;
  margin-left: 25%;
}

.uebersicht-card-header {
  padding:12px;
}

#aktuelles-semester ul {
  display: block;
}

#aktuelles-semester li {
  width: 100%;
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1279px) {
  #uebersicht-list {
    display: inline-block;
  }

  #uebersicht-list li {
    float: left;
    width: 33.333%;
  }

  .uebersicht-card {
    text-align: center;
    display: block;
  }

  #aktuelles-semester ul {
    display: inline-block;
  }

  #aktuelles-semester li {
    float: left;
    width: 33.33%;
  }
}

/* Desktop */
@media (min-width: 1280px) {  
  #uebersicht-list {
    display: inline-table;
  }

  #uebersicht-list li {
    float: left;
    width: 33.333%;
  }

  .uebersicht-card {
    text-align: center;
    display: block;
  }

  #aktuelles-semester {
    overflow-x: auto;
    white-space: nowrap;
  }

  #aktuelles-semester ul {
    display: inline-block;
  }

  #aktuelles-semester li {
    float: left;
    width: 25%;
  }
}